/* Sean's Styles */
/* .form-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 310px;
}

input {
  height: 40px;
  width: 260px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  text-align: center;
}

.form-input {
  padding-right: 10px !important;
}

input::placeholder {
  text-align: center;
}

button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background: orange;
  color: white;
} */